body {
  margin: 0%;
  scrollbar-width: 10px black;
}

.header {
  background: rgb(107, 107, 107);
  padding: auto;
  height: 110px;
  margin: 0%;
  border-top: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}

img {
  grid: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  border: 1px solid transparent;
}
.imgg:hover {
  transform: scale(1.1, 1.1);
}
.imggg {
  grid: auto;
  margin: auto;
  width: 10%;
  height: 2%;
}

.nav {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.nav ul {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 15px;
  height: 40px;
  align-items: flex-end;
}

.nav ul li {
  list-style-type: none;
}
.nav a {
  float: left;
  color: rgb(190, 190, 190);
  text-decoration: none;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: black;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

.nav li {
  margin-left: 10px;
}

li:hover {
  transform: scale(1.1, 1.1);
}

.banner {
  display: block;
  border: 1px solid black;
  background-color: rgb(100, 148, 187);
}

.banner h2 {
  text-align: center;
}

.text {
  margin-right: 30px;
  text-align: center;
}
#yesyes {
  font-family: Arial, Helvetica, sans-serif;
}
.route {
  margin-right: 100px;
}
table {
  width: 100%;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  font-family: "Ubuntu";
  border-collapse: collapse;
  border-spacing: 0;
  background-color: #333333;
}

th,
td {
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}

th {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
  padding: 10px 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: #292929;
  letter-spacing: 1px;
}

td {
  width: 14.285%;
  transition: all 0.3s;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  padding: 1.5% 1.5% 5%;
  vertical-align: initial;
  padding: 1.5% 0;
  height: 75px;
}

.day:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.today {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.25) !important;
}

span.number {
  margin-left: 10%;
}

span.event {
  height: 4px;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  margin: 5px 10%;
  border-radius: 2px;
  background-color: #91c33b;
}

span.event-multiday {
  margin: 5px -2px;
  border-radius: 0;
}

span.event-multiday-start {
  margin-right: -4px;
}

span.event-multiday-finish {
  margin-left: -4px;
}

span.event-ghost {
  background-color: transparent;
}
