html {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;
  background: rgb(103, 126, 153);
}
.banner {
  background: rgb(148, 148, 148);
  padding: 0;
  margin: 0;
  width: 100%;
  position: fixed;
  opacity: 0.5;
}
.content {
  display: flex;
  letter-spacing: 2px;
  justify-content: space-around;
  color: black;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
#logo {
  height: 50px;
  width: 50px;
  margin-top: 0;
  margin-left: 0px;
}
.inleiding {
  border: 1px solid black;
}
