li {
  display: inline;
  list-style-type: none;
}

.banner_content button {
  text-align: center;
  border-width: 0;
  width: 130px;
  height: 80px;
  background-color: #ff5722;
  color: rgb(245, 245, 245);
  border: none;
}

.banner .banner_content a {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  font-family: "Arial";
}

.banner_content button:hover {
  background-color: #dd3400;
  color: rgb(255, 255, 255);
  transform: scaleY(3px), scaleX(6px);
  transition: ease-in-out 0.3s;
  text-shadow: black 2px;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  text-align: center;
  background: url(jup.png) no-repeat cover;
  position: center;
}
.banner {
  background-color: #808080;
  margin: 0;
  position: inherit;
  width: 100%;
}
.banner_content ul {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  margin: 0px;
}
.text h4 {
  margin-left: 200px;
  font-size: large;
}
.text a {
  text-decoration: none;
}
.text p {
  font-family: "Arial";
  margin-left: 50px;
  margin-right: 50%;
}
.text {
  color: rgb(0, 0, 0);
}
.text button {
  margin: 0;
  padding: 0;
  width: 30px;
}
